<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyle.qookbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipes.ChickenNuggets"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.Cheeseburger"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.Jambalaya"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.ChickenTeriyaki"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.CinnamonRoll"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.ChickenPotPie"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.PotRoast"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.Meatloaf"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".recipes.Tater"
        android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.MacNCheese"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.Caliroll"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.GrilledCheese"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".recipes.CrabCakes"
        android:label="@string/app_name">
    </activity>
        <activity
            android:name=".recipes.Clamchow"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.Enchiladas"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".recipes.Fajitas"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".recipes.Biscuitsn"
        android:label="@string/app_name">
    </activity>
        <activity
            android:name=".recipes.Buffalowing"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RecipeList"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.RoastedBrussel"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.Squashnp"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.Vegstirfry"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.Lentilsoup"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.SquashR"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".VeganRecipList"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".VeggRecipList"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.TomatoSoup"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.VeggieCurryrice"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.TomatoChut"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.Veggumbo"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".veganrecipes.Watermeloncuc"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.BlackBeanEnchi"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".vegrecipes.PortoParm"
        android:label="@string/app_name">
    </activity>
        <activity
            android:name=".vegrecipes.Tofutaco"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.SweetPotFrit"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.GreenBeencass"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.PotatoSalad"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.BlackBeanBur"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.Cornfritter"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.BroccoliQin"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.MashedPot"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.GrilledPizza"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.HavartiSouffle"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.Peasalad"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".vegrecipes.Eggplantlas"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".vegrecipes.Grilledcorncake"
        android:label="@string/app_name">
    </activity>
    </application>



</manifest>
